[gitlab]
url=http://tuatara.cs.uni-duesseldorf.de
# GitLab group to manage
group=articles
# Private token from: http://tuatara.cs.uni-duesseldorf.de/profile/account
token=[your token]
# http or ssh (default)
protocol=ssh
